body{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
*{
    margin: 0;

}
.header{
    height: 850px;
    display: flex;
    background-color:rgba(229, 84, 115, 0.10);
    
}
header img{
    height: 800px;
}
.let{
    font-size: 55px;
}
.first-text{
    padding: 100px 0 100px 100px;
    text-align: left;
}
.first-pera{
    font-size: 12px;
    padding: 12px 12px 12px 0;
}
.first-pic{
    padding: 40px 50px 0 20px;
}
.button{
    padding: 13px 17px 13px 17px;
    border-radius: 5px;
    background: #E55473;
    color: white;
    border: 0;
}
.red-pic{
    height: 600px;
    display: flex;
    background-color: rgba(229, 84, 115, 0.05);
}
.second-pic{
    height: 300px;
    padding: 50px 200px 100px 50px;
}
.first-span{
    color: #E55473;
}
.deal{
    font-size: 30px;
}
.hot-deal{
    padding: 100px 100px 100px 150px;
    text-align: center;
}
.insta{
    text-align: center;
    padding: 50px 400px 50px 400px;
}
.four-pic{
    display: flex;
    gap: 10px;
    padding: 0 100px 100px 100px;
}
.enter-email-pic{
    height: 450px;
    
   
    text-align: center;
    background-image: url('../flowershop-assignment/cover.png',linear-gradient(90 deg,0,0));
    
}
.flex{
    padding-top: 50px;
   
}
.input-email{
    width: 700px;
    height: 35px;
    
}
.h{
    padding-top: 130px;
    font-size: 40px ;
}
.footer{
    background-color: black;
    color: #FFFFFF ;
    height: 100px;
    text-align: center;
        padding: 100px;
        
}
.last-h{
    font-size: 30px;
    padding-bottom: 15px;
}
.last-p{
    font-size: 15px;
    padding: 0 50px 10px 50px;
    color: rgba(255, 255, 255, 0.7);
}
.small{
    font-size: 13px;
   color:rgba(255, 255, 255, 0.4) ;
}
/* Bonus Area Style */
.featured-flower{
    text-align: center;
   padding-top: 100px;
}
.feature-pera{
    font-size: 12px;
    padding-top: 25px;
}
.featured-three-flowers{
   padding: 100px 100px 0 100px  ;
    display: flex;
    height:700px ;
    gap: 25px;
}
.Pink-Flower{
    height:450px ;
    width: 350px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
   
}
.red-flower{
    height:450px ;
    width: 350px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}
.yellow-flower{
    height:450px ;
    width: 350px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}